@import './normalize.css';
@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
